@import '../mixins';

.users{
    margin-top: 50px;
    color: $mainBlue;
    list-style-type: none; 
	counter-reset: num;
    &__title{
        margin-bottom: 28px;
        font-size: 36px;
    }
    .user{
        position: relative;
        font-size: 20px;
        &:not(:first-child){
            margin-top: 10px;
        }
        &::before{
            content: counter(num); 
            counter-increment: num;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: -35px;
            width: 25px;
            height: 25px;
            background: $mainBlue;
            color: #fff;
            font-size: 16px;
        }
    }
}