@import '../mixins';


.competencies{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 50px;
    color: $mainBlue;
    background-color: #fff;
    @include border-radius(10px);
    box-shadow: 5px 6px 29px 0px rgba(0,0,0,0.29);
    p{
        font-size: 40px;
    }
    &__container{
        display: flex;
        gap: 50px;
        margin-top: 30px;
    }
}